@model Web_Programming_Assignment_2021.Models.Post

@{ Layout = "_Layout"; }

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>
<div class="row">

        <div class="bs-example" style=" margin: 20px;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#author" class="nav-link" data-toggle="tab">Author</a>
                </li>
                <li class="nav-item">
                    <a href="#post" class="nav-link active" data-toggle="tab">Post</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade " id="author">
                    
                    <div class="profile">

                        <div class="profile-image">
                            @if (Model.User.AvatarFile != null)
                            {
                                <img src="/Catstagram/User/images/avatars/@Model.UserId.ToString()/@Model.User.AvatarFile" style="height: 250px; width: 250px">
                            }
                            else
                            {
                                <img src="/Catstagram/User/images/noavatar.png" style="width:250px">
                            }

                        </div>

                        <div class="profile-user-settings">

                            <h1 class="profile-user-name">@Model.User.Username</h1>

                        </div>
                        <div class="profile-bio">

                            <h1 class="profile-user-name">@Model.User.Email</h1>
                            <p><span class="profile-real-name">Status: </span>@Model.User.Status</p>

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade show active" id="post">
                    <div style="float:left; width:30%; margin: 10px 170px 10px 30px">

                        <table style="text-align:justify">
                            <tr>
                                <th>Created:</th>
                                <th>Modified:</th>
                            </tr>
                            <tr>
                                <td> @Html.DisplayFor(model => model.DateCreated)</td>
                                <td> @Html.DisplayFor(model => model.DateModified)</td>
                            </tr>
                            <tr>
                                <th style="color:white">
                                    .
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    Comment:
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.DisplayFor(model => model.Comment)
                                </td>
                            </tr>
                            <tr>
                                <th style="color:white">
                                    .
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    Hastags:
                                </th>
                            </tr>
                            @foreach (var tag in Model.Hashtag.ToString().Split(' '))
                            {
                                <tr>
                                    <td colspan="2">
                                        <a href="/Home/HashtagGallery/@tag.Trim('#')">@tag</a>
                                    </td>


                                </tr>
                            }

                        </table>

                    </div>
                    <div style="float:left;">
                        <img src="~/Catstagram/User/images/posts/@Model.PostId.ToString()/@Model.PhotoFile" style="width:450px" />
                    </div>
                </div>
            </div>
        </div>
</div>

<div>
    <a asp-action="Index" style="font-size:20px;">Back to List &#10509</a>
</div>
